body {
  background: #F5F5F5;
}
nav {
  position: relative;
  z-index: 99;
  padding-left: 290px;
}
main {
  padding-left: 290px;
  min-height: calc(100% - 144px);
}
footer{
  clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
.tabs.dropdown-content {
  height: auto;
}
.padding-0 {
  padding: 0 !important;
}
i.medium-large {
  font-size: 3rem;
}
.medium-large i {
  font-size: 2.5rem;
}
.row {
  margin-bottom: 0;
}
.collection {
  margin: 0;
}
.side-nav {
  width: 290px;
}
#slide-nav .tabs .indicator {
  background-color: #F5F5F5;
}
#slide-nav .tab a:hover {
  color: #F5F5F5;
}
#slide-nav .tab a.active {
  color: #F5F5F5;
}
.material-icons {
  line-height: 48px;
}
@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
